<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* Reset css và khai báo font chữ sử dụng trong dự án  *@
    <link rel="stylesheet" href="~/css/base/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/base/typography.css" asp-append-version="true" />
    
    @* Sử dụng font chữ Plus Jakarta Sans từ Google Fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
    @*Để cho từng page tự định nghĩa CSS*@
    @await RenderSectionAsync("Styles", required: false)
</head>
<body> 
    @RenderBody()
    @* Để cho từng page tự định nghĩa JS *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
